<h1>Book Reviews</h1>

<%= link_to('Add a review', new_book_review_path) %>
<br/>
<table>
	<thead>
		<tr>
		<th>Username</th>
		<th>Rating</th>
		<th>Comment</th>
		</tr>
	</thead>
	<tbody>
		<% @reviews.each do |review| %>
			<tr>
				<td><%= review.user.username %></td>
				<td><%= review.rating %></td>
				<td><%= review.comment %></td>
				<td><%= link_to('Edit', edit_book_review_path(id:review.id)) %></td>
				<td><%= link_to('Delete', book_review_path(id: review.id), method: :delete) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
