<h1>Write a Review</h1>
<%= form_for [@book, @review] do |f| %>

	<p>
		Title: <%= @book.title %>
	</p>
	<p>
		<%= f.label :rating %>
		<%= f.text_field :rating %>
	</p>
	<p>
		<%= f.label :review %>
		<%= f.text_field :comment %>
	</p>

	<%= f.submit 'Submit' %>
<% end %>